body {
background-color: #66CCFF;
color: #70003D;
font-family: arial, helvetica, sans-serif;
}
h1 {
    color: black;
    text-align: center;
}
p {
    color: black;
    text-align: center;
    font-size: 20px;
    
}
h2 {
    color: black;
    text-align: center;
}
img {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
ul {
    color: black;
}
ol {
    color: black;
}
table {
    text-align: center;
}
tr {
    text-align: center;
}
td {
    text-align: center;
}