body {
background-color: #CC9966;
color: #70003D;
font-family: arial, helvetica, sans-serif;
}
h1 {
    color: aqua;
    text-align: center;
}
p {
    color: aqua;
    text-align: center;
    font-size: 20px;
    
}
h2 {
    color: aqua;
    text-align: center;
}
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}